deploy/output/*
deploy/7za.exe
deploy/releases/*

deploy/*

screenshots/*

*/lib/AnimalFoodExtension.lua
*/lib/CRC32.lua
*/lib/FillTypeManagerExtension.lua
*/lib/GlobalHelper.lua
*/lib/I3DWriter.lua
*/lib/LinkedPlaceableSpecialization_full.lua
*/lib/LinkedPlaceableSpecialization.lua
*/lib/MathHelper.lua
*/lib/MemoryProfiler.lua
*/lib/MeshBuilder.lua
*/lib/placeable.xsd
*/lib/PseudoRandom.lua
*/lib/StoreItemExtension.lua
*/lib/StoreManagerExtension.lua
*/lib/StringWriter.lua